body {
    background-color: #00cae9;
    background-image: linear-gradient(160deg, #00cae9 0%, #80D0C7 100%);

}

header {
    display: flex;
    width: 100%;
}

ul {
    display: flex;
    list-style: none;
    color: aliceblue;
    font-size: 40px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    gap: 28px;
}